/* Input File Name Style */
.input-file-name {
  flex: 0.1;
  background-color: transparent;
  color: #D1D5DB; /* Light gray text */
  font-size: 0.875rem; /* Text size 14px */
  outline: none;
}

.input-file-name::placeholder {
  color: #9CA3AF; /* Placeholder color */
}

/* Data Grid Header */
.data-grid-header {
  padding: 16px;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* Search Input */
.search-input {
  min-width: 2vw;
  width: 12vw;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
  padding: 8px;
  transition: border-color 0.2s;
}

.search-input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.3);
}

/* Toolbar */
.toolbar {
  display: flex;
  align-items: center;
  gap: 5%;
}

/* Grid Info */
.grid-info {
  display: flex;
  align-items: center;
  gap: 10px; 
  font-size: 1.2vw;
  color: black;
  font-weight: 400;
  margin-right: 1vw;
}

/* Toolbar Button */
.toolbar-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 6px;
  font-size: 1.2vw;
  font-weight: 400;
  transition: background-color 0.2s;
  cursor: pointer;
  border: none;
}

.toolbar-button:hover {
  background-color: #dbeafe;
}

.filter-button:hover {
  color: black;
}

.icon {
  margin-right: 6px;
}

/* Data Grid Table */
.data-grid-table {
  width: fit-content;
  margin-left: 5vw;
  overflow-x: scroll;
  background-color: white;
  align-self: flex-start;
  max-width: 100%;
}

.table-header-row {
  background-color: #F6F6F6;
}

/* Table Header Cell */
.table-header-cell {
  padding: 12px;
  text-align: left;
  font-size: 1vw;
  font-weight: 600;
  color: #4b5563;
  border: 1px solid #E9E9EA;
  min-width: 10vw;
  width: 10vw;
}

.header-cell-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-cell-content span {
  width: 90%;
  background-color: #F6F6F6;
}

.header-actions {
  display: flex;
  gap: 8px;
}

/* Filter, Sort, and Delete Button */
.filter-button,
.sort-button,
.delete-button {
  background: none;
  border: none;
  color: #9ca3af;
  cursor: pointer;
  transition: color 0.2s;
  border-radius: 6px;
}

.filter-button,
.sort-button {
  margin-top: 5px;
}

.sort-button:hover {
  color: #374151;
}

.delete-button:hover {
  color: #ef4444;
}

/* Table Row */
.table-row {
  border: 1px solid red;
}

/* Table Cell */
.table-cell {
  padding: 1vw;
  font-size: 1vw ;
  color: #4b5563;
  border: 1px solid #E9E9EA;
}

.table-cell span {
  font-size: 1vw;
}

thead .cell-input {
  color: black;
}

.cell-input {
  width: 90%;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 1vw;
  color: #4b5563;
  outline: none;
  transition: border-color 0.2s;
  background-color: rgb(231, 228, 226);
}

.header-cell-content input {
  background-color: #F6F6F6;
}

.cell-input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.3);
}

.action-cell {
  text-align: center;
}

/* Delete Row Button */
.delete-row-button {
  background: none;
  border: none;
  color: #9ca3af;
  cursor: pointer;
  transition: color 0.2s;
}

.delete-row-button:hover {
  color: #ef4444;
}

/* Sort Button Icons */
.sort-button .ascending {
  color: green; /* Icon for ascending sort */
}

.sort-button .descending {
  color: red; /* Icon for descending sort */
}

/* Filter Button */
.filter-button {
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

/* Dropdown Menu */
.filter-dropdown,
.dropdown-items {
  display: none; /* Hidden by default */
  background: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  position: absolute;
  top: 40px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.filter-dropdown.open,
.dropdown-items.isVisible {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateY(0); /* Smoothly slide down */
}

.filter-input-container {
  margin-bottom: 10px;
}

.filter-input-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.filter-input {
  width: 90%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1vw;
}

/* Dropdown Button */
.dropdown-btn {
  background: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.dropdown-btn:hover {
  background-color: #45a049;
}

/* Filter Dropdown Menu Styles */
.menu-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-trigger {
  background: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
  color: grey;
}

.menu-trigger:hover {
  color: black;
}

.menu-trigger span {
  font-weight: 700;
  font-size: 14px;
  margin: 0 10px;
}

.menu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 40px;
  right: 0;
  width: 200px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 1px solid #dddddd;
}

.menu li a {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
}

/* Filter Dropdown Styles */
.menu-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-trigger.active-filter {
  background-color: green; 
  color: white; 
  display: flex;
}

.clear-filters-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 12px;
  color: #d32f2f;
}

.clear-filters-btn:hover {
  color: #c2185b;
}

.menu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 40px;
  right: 0;
  width: 20vw;
  height: fit-content;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  padding: 0.5vw;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 1px solid #dddddd;
}

.dropdown-item {
  padding: 10px;
}

.dropdown-item label {
  font-weight: 500;
  font-size: 1vw;

}

/* Content Container */
.secondary-container {
  display: flex;
  position: relative;
}

.grid-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10%;
  align-items: center;
  position: absolute;
  top: 10vw;
}

.subheader {
  display: flex;
  justify-content: flex-start;
  gap: 2%;
  align-items: center;
  width: 100%;
  position: fixed;
  padding: 1vw 2vw;
  top: 4vw;
  left: 5vw;
  height: 4vw;
  z-index: 101;
  border-bottom: 1px solid #dddddd;
}

.data-grid-table thead {
  position: sticky;
  top: 9.3vw;
}


@media screen and (max-width:768px) {

  .grid-info {
    gap: 5px;
    font-size: 8px;
    font-weight: 400;
    margin-right: 5px;
}

.search-input {
  min-width: 50px;
  width: 50px;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  font-size: 7px;
  padding: 2px;
}

.icon{
  margin-right: 3px;
}
.header-icons , .icon{
  height: 12px !important;
  width: 12px !important;
}

.toolbar-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 6px;
  font-size: 8px;
}

.toolbar{
  gap: 5px;
}

.header div p{
  font-size: 9px;
}

.table-cell , .table-cell span , .cell-input {
  font-size: 8px ; 
}

.delete-button {
  padding: 0px;
}

.table-header-cell {
  padding: 2px 2px;
  min-width: 10vw;
  width: 15vw;
}

.cell-input{
  padding: 2px;
}

.subheader{
  top: 25px;
}

.grid-container{
  top:47px;
}

}